<header class="border-bottom">
  <div class="container-fluid">
    <div class="head-main">
        <div class="row align-items-center">
            <div class="col-md-2">
              <div class="head-img ">
                <img src="https://raw.githubusercontent.com/akramkhan8998/akramkhan-project/master/src/assets/images/header-img/amplelogic-logo_Black.png" alt="" class="w-100 p-3">
              </div>
            </div>
            <div class="col-md-8">
              <div class="head-details">
                <ul class="navbar nav justify-content-start">
                  <li class="nav-item"> 
                    <a href="" class="fs-6 nav-link text-dark d-flex align-items-center gap-sm">
                      <span class="material-symbols-outlined  bg-primary text-light rounded p-1">
                        how_to_reg
                        </span>
                      Organization Structure <i class=" fa-solid fa-angle-down"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a href="" class="fs-6 nav-link text-dark d-flex align-items-center gap-sm">
                        <span>
                          <i class=" fa-solid fa-film p-1 bg-primary text-light rounded"></i>
                        </span>Configuration 
                        <i class=" fa-solid fa-angle-down"></i>
                      </a>
                    </li>
                  <li class="nav-item">
                    <a href="" class="fs-6 nav-link text-dark d-flex align-items-center gap-sm">
                      <span class="material-symbols-outlined bg-primary text-light rounded p-1">
                        file_copy
                        </span>
                        Reports
                       <i class=" fa-solid fa-angle-down"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="fs-6 nav-link text-dark d-flex align-items-center gap-sm">
                      <span>
                        <i class=" fa-solid fa-gears bg-primary text-light rounded p-1"></i>
                      </span>
                      ETL 
                      <i class=" fa-solid fa-angle-down"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <div class="head-login">
                <ul class="navbar nav justify-content-end">
                  <li class="nav-item">
                    <a href="" class="nav-link text-dark d-flex align-items-center gap-sm">
                      <img src="https://raw.githubusercontent.com/akramkhan8998/akramkhan-project/master/src/assets/images/header-img/english-lang.jpg" alt="" class="img-30">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class=" nav-link position-relative text-dark d-flex align-items-center gap-sm">
                      <i class="fs-5 fa-solid fa-bell"></i>
                      <span class="notify position-absolute  bg-danger rounded-circle"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link text-dark d-flex align-items-center  gap-sm">
                      <img src="https://raw.githubusercontent.com/akramkhan8998/akramkhan-project/master/src/assets/images/header-img/profile-img.jpg" alt="" class="img-30 rounded-circle border">
                    </a>
                  </li>
                </ul>
              
              </div>
            </div>
        </div>
    </div>
  </div>
</header>

<div class="router-content">
  <div class="content-inner">
    <button 
    class="btn btn-primary btn-lg position-absolute top-50 start-50 translate-middle ps-5 pe-5"
    type="button" 
    (click)="startService()"
    *ngIf="showStart"
    >
      Start
    </button>
  </div>

  <div class="border w-100 position-fixed bottom-0 bg-light alert-box d-flex align-items-center position-absolute"  [ngClass]="{'slideUp': slideBox || this.progressValue == 100}" *ngIf="showStart == false">
    <div class="progress-tile d-flex justify-content-center align-items-center position-relative img-30 p-2 bg-primary">
      <span class="material-symbols-outlined text-light h1 mt-2">
        rocket
      </span>
    </div>
    <div class="w-100 bar ps-4 pe-4">
      <p class="mb-0">Migrating Data to selected enviornment</p>
      <ngb-progressbar type="primary" textType="white" [value]="progressValue" [showValue]="true"></ngb-progressbar>
    </div>
    <div class="controlbtn" [ngClass]="{'changeIcon': slideBox || this.progressValue == 100}">
        <div class="ctrlBox">
          <a (click)="toggleClass()" >
            <span class="material-symbols-outlined">
              arrow_drop_down
              </span>
          </a>
        </div>
    </div>
  </div>
</div>

<div class="alert-success bg-success p-3 text-light rounded position-absolute bottom-1 end-5" *ngIf="snackbar">
  <div class="d-flex align-items-center gap-sm">
    <div class="alertIcon">
        <i class="fa-solid fa-check fs-3"></i>
    </div>
    <div class="alert-content">
        <h6 class="mb-0">Success</h6>
        <p class="mb-0">
            Migration Applied successfully.
        </p>
    </div>
  </div>
  <div class="alert-progress"></div>
</div>

<footer class="p-2 bg-secondary bg-opacity-10 border-top">
  <div class="container-fluid">
      <div class="row justify-content-between align-items-center">
          <div class="col-md-4">
            <img src="https://raw.githubusercontent.com/akramkhan8998/akramkhan-project/master/src/assets/images/header-img/amplelogic-logo_Black.png" alt="" class=" w-25 ps-2">
          </div>
          <div class="col-md-4">
            <p class="mb-0 text-secondary">
              Copyright - 2010 - 2023 Amplelogic | All rights Reserved
            </p>
          </div>
          <div class="col-md-4">
              <div class="text-end text-secondary pe-2">
                  v3.1.0
              </div>
          </div>
      </div>
  </div>
</footer>


